<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Results</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>
    <div class="container">
      <div class="row buffer-md">

      </div>
      <div class="row">
        <h1 class="text-center">Grade Level Performance</h1>
      </div>
      <div class="row buffer-sm">

      </div>
      <div class="row">
        <div class="col-md-12">
          <table class="table table-bordered table-hover">
            <thead>
              <tr class="active">
                <th>Metric</th>
                <%@processed_data.advisories.each do |advisory|%>
                <th><%=advisory.name%></th>
                <%end%>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="first-col">Total Mastery</td>
                <%@processed_data.advisories.each do |advisory|%>
                <td><%=advisory.overall_average%>%</td>
                <%end%>
              </tr>
              <tr>
                <td class="first-col">% Above Grade Level</td>
                <%@processed_data.advisories.each do |advisory|%>
                <td><%=advisory.percent_grade_level[:above]%></td>
                <%end%>
              </tr>
              <tr>
                <td class="first-col">% At Grade Level</td>
                <%@processed_data.advisories.each do |advisory|%>
                <td><%=advisory.percent_grade_level[:at]%></td>
                <%end%>
              </tr>
              <tr>
                <td class="first-col">% Below Grade Level</td>
                <%@processed_data.advisories.each do |advisory|%>
                <td><%=advisory.percent_grade_level[:below]%></td>
                <%end%>
              </tr>
              <tr>
                <td class="first-col">% Between 59 and 69</td>
                <%@processed_data.advisories.each do |advisory|%>
                <td><%=advisory.bubble_percent%> %</td>
                <%end%>
              </tr>
              <tr>
                <td class="first-col">Names of Bubble Students</td>
                <%@processed_data.advisories.each do |advisory|%>
                  <td>
                    <ul class="list-unstyled">
                  <%advisory.bubble_students.each do |student|%>
                      <li><%=student.name%></li>
                  <%end%>
                    </ul>
                  </td>
                <%end%>
              </tr>
            </tbody>
          </table>
          <!-- End of table 1. -->
          <table class="table table-bordered table-hover">
            <thead>
              <tr class="active">
                <th>Objective</th>
                <%@processed_data.advisories.each do |advisory|%>
                <th><%=advisory.name%></th>
                <%end%>
              </tr>
            </thead>
            <tbody>
              <%@processed_data.standards.each do |standard|%>
              <tr>
                <td class="first-col" width="40%"><%=standard%></td>
                <%@processed_data.advisories.each do |advisory|%>
                <td><%=advisory.standards_whole_number_average[standard]%></td>
                <%end%>
              </tr>
              <%end%>
            </tbody>
          </table>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8 col-md-offset-2" id="validator-box">
          <h3 class="text-center">Use the following data to ensure accuracy</h3>
          <p>
            <h4>Advisory counts</h4>
            <ul class="list-unstyled">
              <%@processed_data.advisories.each do |advisory|%>
                <li><%=advisory.name%>: <%=advisory.students.count%> students</li>
              <%end%>
            </ul>
          </p>
          <p>
            <h4>We counted <%=@processed_data.standards.count%> standards </h4>
          </p>
          <p>
            <%=@processed_data.multiple_standards?%>
          </p>
          <p id=disclaimer>
            If any of the above data seems incorrect, return to the landing page and try again. If the information still doesn't match up, email JOlson@republiccharterschools.org. If possible, attach the data you're working with and include a screenshot of the erroneous results.
          </p>
        </div>
      </div>
      <div class="row buffer-sm">

      </div>
      <div class="row">
        <footer class="text-center" id="footer">
          Created by Jeff Olson for RePublic Schools, July 2016.
        </footer>
      </div>
      <div class="row buffer-sm">

      </div>
    </div>
  </body>
</html>
